html, body {
    /*font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;*/
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    font-size: 9pt;
    height: 100%;
}

body {
    margin: 0 4px;
}

.custom-select {
    width: auto !important;
    font-size: 9pt;
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
}

.nav-tabs .nav-link {
    padding: 3px 10px;
    font-size: 9pt;
    color: #495057;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
    color: #007bff;
}

#tbl-result {
    width: 100%;
}

.item_selected {
    background-color: #a8e4ff !important;
}

.badge-db-exist {
    background-color: #28a745;
    color: white;
    font-size: 8pt;
    padding: 1px 4px;
    border-radius: 3px;
    margin-right: 4px;
}
